.wrapper
  .banner
    .banner__text
      .banner__text-top Бонус
      .banner__text-bottom на #[span перший] депозит
    .banner__rulet
      .banner__chips
        .chip1
        .chip2
        .chip3
        .chip4
        .chip5
        .chip6
        .chip7
        .chip8
        .chip9
        .card
    .banner__footer
      ul.banner__footer-list
        li.banner__footer-item 4500 ₴
        li.banner__footer-item
          img(src='img/plus.svg' alt='plus')
        li.banner__footer-item 150 FS




