.wrapper
  .banner
    .banner__text
      .banner__text-top Бонус
      .banner__text-bottom на #[span перший] депозит
    .banner__rulet
      .banner__chips
        .chip1.chip
        .chip2.chip
        .chip3.chip
        .chip4.chip
        .chip5.chip
        .chip6.chip
        .chip7.chip
        .chip8.chip
        .chip9.chip
        .card
    .banner__footer
      ul.banner__footer-list
        li.banner__footer-item 4500 ₴
        li.banner__footer-item
          img(src='img/plus.svg' alt='plus')
        li.banner__footer-item 150 FS




